.nft-form {
  position: relative;
  color: #ffffff;
}

.form {
   display: flex;
   color: #ffffff;
}

.form .form_input {
  margin: 3px;
  border-color: rgb(70 185 255 /1);
  background-color: #07090B ;
  color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  outline: 3px solid transparent;
  transition: outline 0.2s, flex-basis 0.2s;
  min-width: 300px;
}

.form .form_input:hover,
.form .form_input:focus {
  outline: 3px solid rgb(70 185 255 / 1);
}

.form .form_submit {
  margin: 3px;
  cursor: pointer;
  border-color: rgb(70 185 255 /1);
  padding: 10px;
  border-radius: 20px;
  min-width: 300px;
  background-color: rgb(70 185 255 / 1);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  transition:  background-color 0.2s, flex-basis 0.2s;
}

.form .form_submit:hover,
.form .form_submit:focus {
  background-color: #07090B;
  color: #ffffff;
}

.form .form_submit:focus {
  outline: 0;
}


.submit_message{
  position: absolute;
  bottom: -26px;
}
