<div class="nft-form">
<form class="form" [formGroup]="form" (submit)="onSubmit()">

  <div class="form-group">
        <input  class="form_input"type="text"placeholder="Name"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">

        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">Name is required</div>
        </div>
  </div>

    <div class="form-group">
        <input class="form_input" type="email" placeholder="Email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">

        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
        </div>
  </div>
    <div class="form-group">
        <button class="form_submit"type="submit">Submit</button>
    </div>
</form>

<div class="submit_message">
    <span *ngIf="success" class="alert alert-success"> Success </span>
    <span *ngIf="danger" class="alert alert-danger"> Something wrong, please try again</span>
</div>
</div>



